

#showcase .nav {
    padding: 0rem 0rem;
  }

 #showcase .nav ul {
     flex-direction: column;
    justify-content: center;   
}

#showcase .nav ul li {
    margin-left: 0rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.7rem;
}



#showcase .header-section {
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

#showcase .header-section  h1 {
    font-size: 2rem;
}

#showcase::before {
    align-items: center;
  
}

/*section-1 start */
#showcase-1 {
    padding: 6rem 0;
}

#showcase-1 .py-1 {
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
}


#showcase-1 .main h1 {
    font-size: 2rem;
    text-align: center;
  
}

#showcase-1 .about h3 {
    font-size: 1.5rem;
    padding: 3rem 0rem 0rem;
    text-align: center;
   
}

#showcase-1 .about p {
    font-size: 1rem;
    padding-right: 0rem; 
    text-align: center; 
    padding: 2rem;

}

#showcase-1 .about-img img {
    width: 250px;
    height: 250px;
   
 }

/*section-1 End */

 /*section-2 start */
 #showcase-2  {
    padding: 3rem 0;
    clip-path: unset;
    background: url(./img/3.gif) no-repeat center center/cover;
 }

 #showcase-2 .technologies {
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-gap: 3rem;
}

#showcase-2 .main-2 h1 {
    font-size: 1.5rem;  
    text-align: center;  
}

#showcase-2 .use h2 {
    font-size: 1.5rem;
    text-align: center;

}

  /*section-2 End */

  /*some-projects-start  */

  #some-projects .items {
     flex-direction: column;
    grid-template-columns: 1fr;

}

#some-projects .some h2 {
    font-size: 2rem;
    text-align: center; 
}

#some-projects .img-info img {
    height:250px;
    width:300px;
    text-align: center;
}



/*some-projects-End  */


 /*section-contact-start */
 
 #section-contact .contact-page h2 {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0rem;
}

#section-contact  .about-contact {
     flex-direction: column;
     grid-template-columns: 1fr ;
     text-align: center;
}

#section-contact .contact-img img {
    width: 300px;
    height: 300px;
}

#section-contact .button  input {
    height: 45px;
    width: 80%;
   
 }

 #section-contact .button  textarea {
    width: 80%;
    height: 100px;  
    margin-bottom: 0.5rem;
}

#section-contact .button button {
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #333;
    color: #f4f4f4;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    transition: 2s;
}
 
/*section-contact-end  */


/*section-footer-start  */
#section-footer .footer-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   #section-footer .footer-1 a {
    padding: 0.8rem;
 }

   #section-footer .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

 



   
 
